.Hero {
  min-height: 100vh;
  background-color: var(--primary-color-dark);
  position: relative;
  display: flex;
}

.HeroImage {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.HeroImage div {
  background: linear-gradient(to right, rgb(13, 26, 14) 0%, transparent 60%), linear-gradient(to top, rgb(13, 26, 14) 0%, transparent 30%), linear-gradient(to bottom, rgb(13, 26, 14) 0%, transparent 10%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.HeroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HeroContent {
  padding: 16px;
  padding-top: 200px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.HeroContentText {
  position: relative;
  z-index: 2;
  color: var(--text-color-light-2);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.HeroContentTextEstablishment {
  font-size: 12px;
  color: var(--primary-color);
  margin-bottom: 8px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 2px;
}

.HeroContentTextEstablishment div {
  width: 24px;
  height: 1px;
  background-color: var(--primary-color);
}

.HeroContentText h1 span:first-of-type {
  color: var(--primary-color);
}

.HeroContentText h1 span:nth-of-type(2) {
  color: white;
}

.HeroContentText h1 span:last-of-type {
  color: var(--text-color-light-4);
}

.HeroContentDivider {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 8px;
  max-width: 600px;
}

.HeroContentDivider div {
  width: 100%;
  height: 1px;
  background-color: var(--text-color-light-4);
}

.HeroContentDivider p {
  font-size: 12px;
  color: var(--text-color-light-4);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.HeroContentTextDescription {
  font-size: 16px;
  font-family: 'Montserrat', 'Plus Jakarta Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: var(--text-color-light-2);
  max-width: 500px;
  line-height: 1.6;
}

.HeroContentText p span {
  color: white;
  font-weight: bold;
}

.HeroContentActions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.HeroContentActions span {
  border: 1px solid var(--text-color-light-2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 12px;
  padding-bottom: 2px;
}

.HeroContentImpact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 16px;
  margin-top: 32px;
  z-index: 1;
}

.HeroContentImpact h3 {
  color: var(--primary-color);
  font-size: 28px;
}

.HeroContentImpact p {
  color: var(--text-color-light-3);
  font-size: 12px;
}

.Banner {
  background: black;
  position: relative;
  padding: 16px 0;
  overflow: hidden;
}

.BannerContent {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 24px;
  animation: "scroll" 20s linear infinite;
}

.BannerContent p {
  font-size: 12px;
  color: var(--text-color-light-3);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.BannerContent div {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.AboutHeader {
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 64px;
}

.AboutHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AboutHeader h5 {
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 4px;
}

.AboutHeader p {
  color: var(--text-color-light-1);
  font-size: 10px;
  letter-spacing: 3px;
}

.AboutContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.AboutContentImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AboutContentText {
  padding: 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.AboutContentText div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.AboutContentText h2 {
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.2px;
}

.AboutContentText h2 span {
  color: var(--primary-color);
}

.AboutContentText p {
  color: var(--text-color-dark-1);
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Montserrat', 'Plus Jakarta Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.AboutContentText p span {
  color: var(--text-color-dark-2);
}

.AboutContentVision {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 56px 56px;
}

.AboutContentVision hr {
  border: 1px solid #f0f0f0;
}

.AboutContentVisionList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.AboutContentVisionList li {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.AboutContentVisionList li h5:first-of-type {
  font-size: 10px;
}

.AboutContentVisionList li h5:last-of-type {
  font-size: 14px;
}

.AboutContentVisionList li p {
  color: var(--text-color-dark-1);
  font-size: 12px;
  line-height: 1.6;
}

.AboutContentVisionList li:first-child {
  background-color: rgb(242, 251, 244);
  border-top: 2px solid var(--primary-color);
}

.AboutContentVisionList li:last-child {
  background-color: rgb(246, 247, 246);
  border-top: 2px solid rgb(60, 66, 61);
}

.AboutContentVisionList li:first-child h5:first-of-type {
  color: var(--primary-color);
}

.AboutContentVisionList li:last-child h5:first-of-type {
  color: var(--secondary-color);
}

.AboutContentVisionTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.AboutContentVisionTags li {
  padding: 6px 12px;
  border-radius: 50rem;
  border: 1px solid rgb(200, 232, 204);
  font-size: 10px;
  background-color: rgb(242, 251, 244);
  color: var(--primary-color);
}

.Objectives {
  background-color: rgb(247, 250, 248);
  padding: 100px 20px;
}

.ObjectivesContent {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.ObjectivesContentHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.ObjectivesContentHeader h5 {
  color: var(--primary-color);
}

.ObjectivesContent ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.ObjectivesContent ul li {
  background-color: white;
  border: 1px solid rgb(232, 244, 234);
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ObjectivesContent ul li h3 {
  color: var(--primary-color);
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
  opacity: 0.1;
}

.ObjectivesContent ul li p {
  color: var(--text-color-dark-1);
  font-size: 14px;
}

.Beginning {
  background-color: var(--primary-color-darker);
}

.BeginningHeader {
  border-bottom: 1px solid #ffffff0f;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.BeginningHeader h5,
.BeginningHeader p {
  color: var(--text-color-light-7);
  font-family: 'Montserrat', 'Plus Jakarta Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.BeginningHeader h5 {
  font-weight: 500;
  letter-spacing: 4px;
}

.BeginningContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.BeginningContentBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(120px + 5vw);
  color: white;
  opacity: 0.03;
  letter-spacing: -0.3px;
  line-height: 1;
  text-align: center;
  font-family: "Bebas Neue", 'Plus Jakarta Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.BeginningContentImage {
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 4px solid var(--primary-color);
}

.BeginningContentImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.BeginningContentImage div {
  background: linear-gradient(to top, rgb(6, 14, 7) 20%, transparent 70%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  gap: 16px;
}

.BeginningContentImage h1 {
  color: white;
}

.BeginningContentImage h1 span {
  color: var(--primary-color);
}

.BeginningContentImage p {
  color: var(--text-color-light-7);
  font-size: 12px;
  letter-spacing: 2px;
}

.BeginningContentText {
  padding: 56px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--text-color-light-8);
  font-family: 'Montserrat', 'Plus Jakarta Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.BeginningContentText p {
  font-size: 14px;
}

.BeginningContentText p b {
  color: white;
}

.BeginningContentText ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 60px;
}

.BeginningContentText ul li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.BeginningContentText ul li h5 {
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
  letter-spacing: 3px;
}

.BeginningContentText ul li::before {
  content: "◼";
  color: var(--primary-color);
  font-size: 12px;
  line-height: 0;
  position: absolute;
  left: -60px;
  top: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.BeginningContentText ul li::after {
  content: "";
  position: absolute;
  left: -48px;
  top: 28px;
  width: 1px;
  height: calc(100% + 20px);
  opacity: 0.3;
  background-color: var(--primary-color);
}

.BeginningContentText ul li:last-child::after {
  height: 80%;
}

.BeginningContentQuote {
  padding: 24px;
  background-color: rgba(0, 119, 25, 0.08);
  border-left: 3px solid var(--primary-color);
  border-radius: 4px;
  font-style: italic;
}

@media (max-width: 768px) {
  .HeroImage {
    width: 100%;
  }

  .HeroImage div {
    background: linear-gradient(to right, rgb(13, 26, 14) 2%, transparent 100%), linear-gradient(to top, rgb(13, 26, 14) 0%, transparent 30%);
  }

  .HeroImage img {
    filter: brightness(0.5);
  }

  .HeroContent {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .HeroContentImpact {
    margin-top: auto;
  }

  .HeroContentActions {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .HeroContentActions a:last-child {
    padding-left: 8px;
  }

  .BannerContent {
    animation: "scroll" 5s linear infinite;
  }

  .AboutHeader {
    padding: 20px;
  }

  .AboutContent {
    grid-template-columns: 1fr;
  }

  .AboutContentImage {
    height: 300px;
  }

  .AboutContentText {
    padding: 20px;
  }

  .AboutContentText div {
    gap: 16px;
  }

  .AboutContentVision {
    padding: 0 20px 56px;
  }

  .BeginningContent {
    grid-template-columns: 1fr;
  }

  .BeginningContentImage {
    height: 400px;
  }

  .BeginningContentText {
    padding: 40px 20px;
  }
}

@media (max-width: 550px) {
  .AboutHeaderContent {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .ObjectivesContent ul {
    grid-template-columns: 1fr;
  }

  .BeginningHeader {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 32px;
  }

  .BeginningHeader h5,
  .BeginningHeader p {
    letter-spacing: 2px;
  }
}

@media (max-width: 500px) {
  .BannerContent {
    animation: "scroll" 3s linear infinite;
  }
}
